@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
    background-color: #181650;
}

.container {
    font-family: Inter;
}

.logo {

    width: 257px;
    height: 27px;
    top: 56px;
    left: 47px;
}

.albatross {
    position: absolute;
    width: 148px;
    top: 20px;
    left: 54px;
    font-family: "Arial Rounded MT Bold";
    font-weight: 400;
    color: #92deed;

    font-size: 23px;
    letter-spacing: 0;
    line-height: normal;
}

.img {
    position: absolute;
    width: 100px;
    height: 18px;
    top: 24px;
    left: 200px;
}

.container1 {
    color: #92deed;
    font-size: 40px;
    font-weight: 600;
    margin-left: 45px;
    margin-bottom: 0px;

}

.hey {
    margin-bottom: 0px;
}

.congo {
    margin-top: 0px;
    margin-bottom: 0px;
}

.test {
    margin-top: 0px;
    margin-bottom: 0px;
}

.container2 {
    margin-top: 0px;
    color: white;
    display: flex;
    flex-direction: row;
    height: 400px;

}


.ready {
    color: white;
    font-size: 100px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 0px;
    font-family: Space Grotesk;
    border-top: 2px solid #92deed;

}

.small {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    font-family: Space Grotesk;
    margin-bottom: 0px;
}

.f {
    color: white;
    font-size: 100px;
    font-weight: 700;
    margin-top: 0px;
    margin-left: 40px;
    margin-bottom: 0px;
}

.o {
    height: 71px;
    width: 108px;
    margin-top: 25px;
    margin-left: 5px;
    margin-bottom: 0px;
}

.r {
    color: white;
    font-size: 100px;
    font-weight: 700;
    margin-top: 0px;
    margin-left: 40px;
    margin-left: 5px;
    margin-bottom: 0px;
}

.the {
    color: white;
    font-size: 100px;
    font-weight: 700;
    margin-top: 0px;
    margin-left: 40px;
    margin-left: 35px;
    font-family: Space Grotesk;
    margin-bottom: 0px;
}

.small2 {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    font-family: Space Grotesk;
}

.test2 {
    margin-top: 0px;
    color: #92deed;
    font-family: Poppins;
    font-size: 90px;
    font-weight: 300;
    font-style: italic;
    margin-left: 40px;
}

.level {
    margin-top: 0px;
    margin-top: 0px;
    color: #92deed;
    font-family: Space Grotesk;
    font-size: 100px;
    font-weight: 700;
    margin-left: 40px;
}

.container4 {
    display: flex;
            align-items: center;
           background-color: #363269;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 494px;
            height: 299px;
            margin-top: 75px ;
            margin-left: 250px;
}

.card-heading {
    font-family: Space Grotesk;
    color: #ffffff;
     font-weight: 700;
       font-size: 40px;
       margin: 0;
}

.card-image {
    background-image: url('https://www.linkpicture.com/q/Untitled_design_2_-removebg-preview_1.png'); /* Replace with your image path */
    background-size: cover;
    background-position: right;
    width: 275px;
    height: 275px;
    border-radius: 50%;
}

.name {
font-family: Poppins;
font-size: 20px;
font-weight: 600;
color: #cdcaca;
}


.email {
font-family: Poppins;
font-size: 20px;
font-weight: 600;
color: #cdcaca;
}

.phone {
font-family: Poppins;
font-size: 20px;
font-weight: 600;
color: #cdcaca;
}

.button {
    background-color: #92deed;
    color: #19175a;
    font-size: 16px;
    font-weight: 600;
    width: 399px;
    height: 80px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 60px;
    border-color: white;
}

.btnimg {
    margin-left: 50px;
}



@media screen and (max-width: 820px) {
    .container4 {
        padding: 20px;
        border-radius: 10px;
        width: 300px;
        height: 165px;
        margin-top: 120px;

}

.card-heading {
   font-size: 28px;
   margin: 0;
}

.card-image {
width: 100px;
height: 100px;
border-radius: 50%;
}

.name {
font-size: 14px;
}


.email {
font-size: 14px;
}

.phone {
font-size: 14px;
}
}





@media screen and (max-width: 768px) {
    .container4 {
        padding: 20px;
        border-radius: 10px;
        width: 275px;
        height: 155px;
        margin-top: 120px;

}

.card-heading {
   font-size: 24px;
   margin: 0;
}

.card-image {
width: 100px;
height: 100px;
border-radius: 50%;
}

.name {
font-size: 12px;
}


.email {
font-size: 12px;
}

.phone {
font-size: 12px;
}
}


@media screen and (max-width: 480px) {
    .albatross {
        font-size: 12px;
        left: 15px
    }

    .img {
        width: 50px;
        height: 11px;
        top: 21.3px;
        left: 90px;
    }

    .container1 {
        margin-left: 5px;
        font-size: 18px;
        font-weight: 600;
    }

    .ready {
        margin-left: 5px;
        font-size: 48px;
    }

    .f {
        margin-left: 5px;
        font-size: 48px;
    }

    .o {
        width: 52px;
        height: 36px;
        margin-top: 13px;
        margin-left: 3px;
    }

    .r {
        font-size: 48px;
        margin-left: 3px;
    }

    .test2 {
        margin-left: 5px;
        font-size: 45px;
    }

    .button {
        margin-left: 5px;
        font-size: 12px;
        width: 200px;
        height: 40px;
    }

    .the {
        font-size: 45px;
        margin-left: 18px;
    }

    .level {
        font-size: 53px;
        margin-left: 10px;
    }

    .btnimg {
        margin-left: 5px;
        width: 50px;
    }

    .container4 {
                padding: 20px;
                border-radius: 10px;
                width: 240px;
                height: 145px;
                margin-top: 200px;
    }
    
    .card-heading {
           font-size: 20px;
           margin: 0;
    }
    
    .card-image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    
    .name {
    font-size: 10px;
    }
    
    
    .email {
    font-size: 10px;
    }
    
    .phone {
    font-size: 10px;
    }

}
